<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Register</title>
</head>

<body>
    <div>
        <h2>Register</h2>
        <form name="form" ng-submit="vm.register()" role="form">
            <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
                <label for="firstName">First name</label>
                <input type="text" name="firstName" id="firstName" class="form-control" ng-model="user.firstName" required />
                <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.surname.$dirty && form.surname.$error.required }">
                <label for="surname">Surname</label>
                <input type="text" name="surname" id="Text1" class="form-control" ng-model="user.surname" required />
                <span ng-show="form.surname.$dirty && form.surname.$error.required" class="help-block">Surname is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" class="form-control" ng-model="user.email" required />
                <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.dob.$dirty && form.dob.$error.required }">
                <label for="dob">Date of birth</label>
                <input type="text" name="dob" id="dob" class="form-control" ng-model="user.dob" required />
                <span ng-show="form.dob.$dirty && form.dob.$error.required" class="help-block">Date of birth is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            </div>
            <div class="form-actions">
                <button type="submit" ng-click="register()" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
                <a href ng-click="cancel()" class="btn btn-link">Cancel</a>
            </div>
            <label>{{message}}</label>
        </form>
    </div>
</body>

</html>